.App {
  min-width: 800px;
  max-width: 100px;
  margin: 36px;
}

@media only screen and (max-width: 800px) {
  .App {
    min-width: 0;
    max-width: 800px;
  }

  .App .field-input-container {
    flex-direction: column;
    /*margin: 16px;*/
  }
}

section {
  margin-bottom: 48px;
}

h2 {
  font-size: 3em;
  color: var(--dark-color);
}

section.splash-image {
  margin-top: 40px;
}

.field-input-container, p, h2 {
  padding: var(--sub-section-padding);
}

.field-input-container .delete-button {
  opacity: 0;
  transition: opacity var(--nav-bar-collapse-speed)
}

.field-input-container:hover .delete-button {
  opacity: 1;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.dark-style-switch {
  padding: var(--sub-section-padding);
  border-radius: 8px;
  transition: background-color 600ms;
}
.dark-style-switch.is-dark-style {
  background-color: var(--dark-color);
}
.dark-style-switch.is-dark-style .text {
   color: var(--light-color);
 }

.hippo-bar {
  display: flex;
  justify-items: baseline;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  left: 0;
  top: 0;

  background-color: var(--light-color);
  width: 100vw;
  padding: 8px;
  padding-left: 24px;
  z-index: 10000;

}

.hippo-emoji {
  font-size: 24px;
  transform: scale(-1, 1);
  position: fixed;
  transition: left 1s cubic-bezier(.72,.01,.55,1), top var(--nav-bar-collapse-speed);
}
.hippo-bar .hippo-popup-mus {
  font-style: italic;
  font-weight: bolder;
  transition: font-size var(--nav-bar-collapse-speed);
}
